@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900);

body {
    #header {
        position: relative;
        ul.nero {
            background-color: #222222;
            padding: 15px 0;
            text-align: center;
            margin: 0;
            list-style: none;
            @include breakpoint(medium down) {
                padding: 10px 0;
            }
            li {
                display: inline-block;
                margin: 0 10px;
                a {
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 14px;
                    .fa {
                        margin-right: 9px;
                        font-size: 16px;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                    @include breakpoint(medium down) {
                        span {
                            display: none;
                        }
                        .fa {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .ricerca {
            display: none;
            position: absolute;
            max-width: 90%;
            width: 600px;
            margin: auto;
            top: 250px;
            left: 0;
            right: 0;
            .input-group {
                margin-bottom: 0;
                position: relative;
                .fa {
                    position: absolute;
                    left: 0;
                    top: 0;
                    line-height: 40px;
                    font-size: 18px;
                    width: 40px;
                    text-align: center;
                    opacity: 0.6;
                    display: block !important;
                }
                .input-group-field {
                    height: 40px;
                    padding: 0 40px;
                    line-height: 40px;
                    border-radius: 3px;
                    background: #f5f5f5;
                    border: 0;
                    color: #000000;
                    box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 10px 20px  rgba(0,0,0,0.15);
                    font-size: 18px;
                    font-weight: 300;
                }
                .input-group-button {
                    display: none;
                }
            }
        }
        .logo {
            text-align: center;
            padding: 60px 0;
            @include breakpoint(medium down) {
                padding:30px 0;
            }
        }
        .menu-header-container {
            padding: 30px 0;
            text-align: center;
            border-top: 1px solid $doro;
            @include breakpoint(medium down) {
                padding: 15px 0;
            }
            ul {
                list-style: none;
                margin-bottom: 0;
                li {
                display: inline-block;
                    a {
                        color: $doro;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 500;
                        padding: 0 20px;
                    }
                }
            }
        }
    }
    #footer {
        .nero {
            background: #222222;
            padding: 45px 0;
            @include breakpoint(medium down) {
                padding: 25px 0;
            }
            .menu-footer-nav-container {
                @include grid-column(6);
                @include breakpoint(medium down) {
                    @include grid-column(12);
                }
                #menu-footer-nav {
                    padding: 0 !important;
                    > li {
                        @include grid-column(6);
                        @include breakpoint(medium down) {
                            @include grid-column(12);
                            padding: 0 !important;
                            margin-bottom: 20px;
                        }
                        > a {
                            font-size: 20px;
                            text-transform: uppercase;
                            color: #ffffff;
                            font-weight: bold;
                            margin-bottom: 20px;
                            padding: 0;
                            &::after {
                                display: block;
                                content: "";
                                background: $doro;
                                height: 5px;
                                width: 33.333%;
                                margin-top: 20px;
                            }
                        }
                        .sub-menu {
                            list-style: none;
                            line-height: 24px;
                            margin: 0;
                            li {
                                a {
                                    color: $doro;
                                    font-size: 14px;
                                    line-height: normal;
                                    &:hover {
                                        color: #ffffff;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .column {
                margin: 0;
                list-style: none;
                color: #ffffff;
                @include breakpoint(medium down) {
                    margin-bottom: 20px;
                }
                h4 {
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: 20px;
                    padding: 0;
                    &::after {
                        display: block;
                        content: "";
                        background: $doro;
                        height: 5px;
                        width: 33.333%;
                        margin-top:20px;
                    }
                }
                .sub-menu {
                    list-style: none;
                    line-height: 24px;
                    margin: 0;
                    li {
                        a {
                            color: #ffffff;
                        }
                    }
                }
            }
            .reti-sociali {
                .sub-menu {
                    li {
                        a {
                            line-height: normal;
                            display: inline-block;
                            border-radius: 50%;
                            height: 37px;
                            width: 37px;
                            line-height: 37px;
                            text-align: center;
                            font-size: 22px;
                            color: #ffffff;
                            margin-right: 5px;
                            opacity: 0.7;
                            transition: transform ease 0.4s, opacity ease 0.4s;
                            &:first-of-type {
                                background-color: #3b5998;
                            }
                            &:nth-of-type(2) {
                                background-color: #55acee;
                            }
                            &:last-of-type {
                                background-color: #dc4e41;
                            }
                            &:hover {
                                transform: scale(1.3);
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .pagamento {
                .sub-menu {
                    li {
                        .fa {
                            font-size: 42px;
                            color: #ffffff;
                            opacity: 0.8;
                        }
                        .column {
                            text-align: center;
                            margin-top: 10px;
                            @include breakpoint(medium down) {
                                text-align: left;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
            .newsletter {
                line-height: 45px;
                margin-top: 25px;
                @include breakpoint(medium down) {
                    margin-top: 0;
                    .column {
                        margin-bottom: 0;
                    }
                }
                h4 {
                    position: relative;
                    padding-left: 25px;
                    margin-bottom: 0;
                    line-height: 45px;
                    float: left;
                    &::after {
                        width: 5px;
                        height: 45px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        margin-top: 0;
                    }
                }
                .email {
                    float: left;
                    width: auto;
                    height: 45px;
                    border: 1px solid #656565;
                    padding: 0 15px;
                    width: 320px;
                    max-width: 50%;
                    margin-left: 20px;
                    background: transparent;
                    margin-bottom: 0;
                    color: #ffffff;
                }
                .buitoni {
                    float: left;
                    height: 45px;
                    padding: 0 20px;
                    background: #dc4e41;
                    color: #ffffff;
                    text-transform: uppercase;
                    border: 0;
                }
            }
        }
        .bianco {
            color: #222222;
            background: #ffffff;
            text-align: center;
            padding: 25px 0;
            font-size: 12px;
        }
    }
    .benvenuto {
        .promozione {
            height: 600px;
            overflow: hidden;
            position: relative;
            img {
                position: absolute;
                top: 0;
            }
            .bianco {
                position: absolute;
                bottom: 0;
                right: calc(100% / 12);
                background: rgba(255,255,255,0.15);
                padding: 30px;
                p {
                    color: #ffffff;
                    margin: 0;
                    line-height: 30px;
                    font-style: italic;
                    font-weight: 300;
                    &:first-of-type {
                        font-size: 26px;
                    }
                    &:last-of-type {
                        font-size: 18px;
                    }
                }
                a {
                    padding: 20px 75px ;
                    margin-top: 40px;
                    display: inline-block;
                    background: $doro;
                    color: #ffffff;
                    text-align: center;
                    font-size: 20px;
                    float: right;
                    position: relative;
                    right: -65px;
                    font-weight: 300;
                }
                &::after {
                    display: block;
                    content: " ";
                    clear: both;
                }
            }
        }
        h2 {
            font-size: 18px;
            line-height: 21px;
            color: $doro;
            border-bottom: 1px solid $doro;
            margin-top: 50px;
            margin-bottom: 45px;
            padding-bottom: 25px;
            text-align: center;
            font-weight: 600;
            &:first-letter {
                font-family: "Cinzel Decorative", cursive;
                font-size: 22px;
            }
        }
        .nuovo, .vendita {
            padding-bottom: 50px;
            .owl-item {
                img {
                    max-width: 80%;
                    margin: auto;
                }
                h3 {
                    font-family: "Cinzel Decorative", cursive;
                    color: #000000;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    margin: 25px 0 0;
                    &:last-of-type {
                        margin-top: 5px;
                    }
                }
            }
            .owl-dots {
                position: absolute;
                top: -70px;
                right: 0;
                transform: translateY(-100%);
                    height: 20px;
                .owl-dot {
                    height: 20px;
                    width: 20px;
                    background: transparent;
                    transition: background ease 0.4s;
                    border: 1px solid #829d46;
                    border-radius: 50%;
                    display: inline-block;
                    margin-left: 10px;
                    &.active {
                        background: #829d46;
                    }
                }
            }
        }
        .notizie {
            h2 {
                font-size: 18px;
                line-height: 21px;
                color: #000000;
                border-bottom: 1px solid #000000;
                margin-top: 50px;
                margin-bottom: 45px;
                padding-bottom: 25px;
                text-align: center;
                font-weight: 600;
                &:first-letter {
                    font-family: "Cinzel Decorative", cursive;
                    font-size: 22px;
                }
            }
            article {
                > header {
                    max-height: 185px;
                    overflow: hidden;
                }
                > section {
                    h3 {
                        font-size: 16px;
                        font-weight: bold;
                        color: #262a2e;
                        margin: 16px 0 10px;
                    }
                    h4 {
                        color: #5a5a5a;
                        font-size: 14px;
                        margin: 10px 0;
                        .fa {
                            color: #829d46;
                        }
                    }
                    section {
                        font-size: 16px;
                        color: #262a2e;
                        line-height: 24px;
                        max-height: calc(24px * 3);
                        overflow: hidden;
                    }
                    a {
                        color: #829d46;
                        font-weight: bold;
                        margin: 20px 0;
                        display: inline-block;
                    }
                }
            }
        }
        .marques {
            padding: 50px 0;
            border-top: 1px solid #000000;
            margin-top: 100px;
            .owl-item {
                text-align: center;
                height: 100px;
                line-height: 100px;
                img {
                    max-width: 100px;
                    max-height: 100px;
                    display: inline-block;
                    vertical-align: middle;
                    width: initial;
                }
            }
        }
    }
    &.single-post {
        .immagine {
            max-height: 190px;
            overflow: hidden;
            @include breakpoint(medium down) {
                display: none;
            }
            img {
                width: 100%;
            }
        }
        .percorsofile {
            padding: 30px 0;
            border-bottom: 1px solid #e5ddd5;
            color: #829d46;
            font-size: 14px;
            @include breakpoint(medium down) {
                padding-left: 0.625rem;
                padding-right: 0.625rem;
            }
            a {
                color: #829d46;
            }
            .active {
                color: #684835;
                text-transform: uppercase;
                font-weight: bold;
            }
            .back {
                float: right;
                font-size: 16px;
                font-weight:500;
                @include breakpoint(medium down) {
                    display: block;
                    float: none;
                }
                span {
                    margin-right:5px;
                }
            }
        }
        #single-post {
            > .sidebar {
                width: 25%;
                @include breakpoint(medium down) {
                    display: none;
                }
                article {
                    margin-bottom:50px;
                    h6 {
                        color:#684835;
                        font-weight: bold;
                        font-size: 18px;
                        text-transform: uppercase;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        margin-top: 0;
                        border-bottom: 2px solid #684835;
                    }
                    &.widget_recent_entries {
                        ul {
                            list-style: none;
                            margin: 0;
                            li {
                                margin-bottom:20px;
                                a {
                                    font-size: 15px;
                                    line-height: 20px;
                                    color: #262a2e;
                                    display: block;
                                }
                                span {
                                    font-size: 14px;
                                    color: #829d46;
                                }
                            }
                        }
                    }
                    &.widget_categories {
                        ul {
                            list-style: none;
                            margin:0;
                            li {
                                a {
                                    font-size: 15px;
                                    line-height: 20px;
                                    color: #829d46;
                                }
                            }
                        }
                    }
                    &.widget_archive {
                        ul {
                            list-style: none;
                            margin: 0;
                            li {
                                a {
                                    font-size: 15px;
                                    line-height: 20px;
                                    color: #262a2e;
                                }
                            }
                        }
                    }
                    &.widget_tag_cloud {
                        .tagcloud {
                            a {
                                font-size: 14px !important;
                                color: #262a2e;
                                padding: 3px 10px;
                                border-radius: 3px;
                                border: 1px solid #262a2e;
                                text-transform: lowercase;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
            > article {
                width: 75%;
                @include breakpoint(medium down) {
                    width: 100%;
                }
                header {
                    margin-bottom: 35px;
                    h1 {
                        display: inline-block;
                        font-size: 24px;
                        font-weight: 500;
                        color: #684835;
                        text-transform: uppercase;
                        &:first-letter {
                            font-family: "Cinzel Decorative", cursive;
                            font-size: 30px;
                            font-weight: bold;
                        }
                    }
                    .reti-sociali {
                        float: right;
                        @include breakpoint(medium down) {
                            display: block;
                            float: none;
                        }
                        a {
                            line-height: normal;
                            display: inline-block;
                            border-radius: 50%;
                            height: 37px;
                            width: 37px;
                            line-height: 37px;
                            text-align: center;
                            font-size: 22px;
                            color: #ffffff;
                            margin-right: 5px;
                            transition: transform ease 0.4s, opacity ease 0.4s;
                            &:first-of-type {
                                background-color: #3b5998;
                            }
                            &:nth-of-type(2) {
                                background-color: #55acee;
                            }
                            &:last-of-type {
                                background-color: #dc4e41;
                            }
                            &:hover {
                                transform: scale(1.3);
                            }
                        }
                    }
                }
                .entry-content {
                    margin-bottom: 50px;
                    .wp-post-image {
                        display: block;
                        margin: 0 auto 20px;
                        border-radius: 4px;
                        width:100%;
                    }
                    h4 {
                        margin:20px 0;
                        font-size: 14px;
                        color: #829d46;
                        a {
                            color: #829d46;
                        }
                        .fa {
                            font-size: 22px;
                            vertical-align: middle;
                            margin-right: 2px;
                        }
                        .fa-tags {
                            margin-left: 25px;
                        }
                    }
                    p {
                        color: #262a2e;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                #respond {
                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        color: #684835;
                        text-transform: uppercase;
                        border-bottom: 1px solid #684835;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        &:first-letter {
                            font-family: "Cinzel Decorative", cursive;
                            font-size: 30px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
